@media (max-width: 720px) {
    *{
        margin: 0%;
    }
    section{
      width: 100%;        
      height: 100vh;
      position: relative;
} 
       
.menu{
display: none;
}


    .f1{
        position: absolute;
        width:100%;
        height: 100vh;
    }
    #icone{
        position: absolute;
        width: 90%;
        height: auto;
        top: 5%;
        left: 1%;
    }
    
    #txtpage1{
        font-size: 20px;
        position: absolute;
        width: 80%;
        height: auto;
        left: 15%;
        top: 50%;
        color: white; 
        font-family: "Tektur", sans-serif;
        font-optical-sizing: auto;
        font-weight:500px ;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }

    .botaologin{
        position: absolute;
        width: 10%;
        height: 10%;
        left: 30%;
        top: 80%;
    }

.login{
font-size: 40px;
font-family: "Tektur", sans-serif;
font-optical-sizing: auto;
font-weight:600px ;
font-style: normal;
font-variation-settings: "wdth" 100;  


border: 10px solid black;
border-radius: 15px;
background-color: red;
width: 150px;
height: 80px;
color:white
}

    .title{
        position: absolute;
        left: 20%;
        font-size: 40px;
        top: 1%;

    }

    .descriçao{

        position: absolute;
        left: 2%;
        font-size: 20px;
        top: 15%;


    }
#dpage2{
position: absolute;
font-size: 20px;
top: 6%;
left: 1%;
}

    .txtpage2{
        font-size: 20px;
        width: 80%;
        height: 80vh;
        left: 5%;
        top: 95%;
        
       
    

    }

    #fundo2{
        position: absolute;
        width: 100%;
        height: 100vh;
        
        

       

    }

    #fundo1{

        position: absolute;
        width: 100%;
        height: 100vh;
    }

.corfundo{
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center ;     
border: black 5px;
}

#noticias{
font-size: 40px;
left: 1%;
position: absolute;
top: 1%;
}

.imagem1{
 width: 300px;
 height: 290px;
 position: absolute;
 left: 7%;
 border: 5px solid red;   
 top: 10%; 
}

.ntimg{
 width: 300px;
 height: 150px;
}

#descriçaoimagem1{
font-size: 15px;
position: absolute;
top: 53%;
}

#desc2{
font-size: 15px;
position: absolute;
top: 75%;
}

#desc3{
 font-size: 15px;
 position: absolute;
 top: 92%;
}


.imagem2{
 border: 5px solid red;      
 width: 300px;
 height: 270px;
 position: absolute;
 left: 7%;
 top: 56%;
 
}

#descriçaoimagem2{
color: white;
position: absolute;
font-size: 15px; 
left: 1%;
top: 55%;

font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}

#des2{
color: rgb(164, 164, 164);
position: absolute;
font-size: 15px;
top:73%;
left: 1%;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}

#des3{
color: rgb(164, 164, 164);
position: absolute;
font-size: 15px;
top: 90%;
left: 1%;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}


.imagem3{
width: 300px;
height: 260px;
position: absolute;
left: 7%;
top: 1%;
border: 5px solid red;
}

#img3{
width: 300px;
height: 150px;

}


#descriçaoimagem3{
color: white;
position: absolute;
font-size: 15px; 
left: 1%;
top: 58%;



font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}

#d1imagem3{
color: rgb(164, 164, 164);
position: absolute;
font-size: 10px;
top:76%;
left: 1%;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}
.imagem4{
position: absolute;
border: 5px solid red;
top: 35%;
left: 7%;
background-color: #0b0825;
width: 300px;
height: 250px;
}
#imggw{
width: 300px;
height: 150px;
}

#d1imagem4{
color: rgb(164, 164, 164);
position: absolute;
font-size: 10px;
top: 75%;
right: 5cqmin;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;

}
#descriçaoimagem4{
color: white;
position: absolute;
font-size: 15px; 
left: 1%;
top: 60%;

font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;

}

#imgtw{
width: 300px;
height: 150px;
}

.imagem5{

position: absolute;
left: 7%;
top: 69%;
border: 5px solid red;
background-color: #0b0825;
 width: 300px;
 height: 250px;
}


#descriçaoimagem5{
color: white;
position: absolute;
font-size: 15px; 
left: 1%;
top: 60%;

font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;

}

#trailer{
color: rgb(227, 11, 11);
position: absolute;
width: 90%;
height: 100px;
top: 87%;
left: 15%;
font-size: 10px;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}

#iconeyt{
position: absolute;
width: 20px;
height: 20px;
top: 85%;
left: 5%;
}

a:hover{

text-decoration: underline;  
}



#tcomunidade{
    font-size: 100%;
}
#inputcomunidade{
    width: 30%;
    height: 3vh;
    position: absolute;
    top: 10%;
    font-size: 100%;
}

#mn{
  display: none;
    
}

.post{
    width: 60%;
}

.per{
    width: 10%;
    position: absolute;
    left: 5px;
    top: 20%;

}

.gx{
    font-size: 80%;
    left: 20%;
}

.gx1{
    font-size: 60%;
    left: 20%;
}

.gx2{
    font-size: 60%;
    position: absolute;
    left: 10px;
}

.ctbox{
    position: absolute;
    top: 80%;
    left: 70%;
}


.ctlike{
    position: absolute;
    top: 83%;
    left: 80%;
}


.post1{
    width: 60%;
    
}

.post2{
    width: 60%;
}

.topico{
    width: 30%;
    height: 25vh;
    position: absolute;
    left: 70%;
    top: 5%;
}

.tpa{
    font-size: 10%;
    padding: 2px;

}

.bt{
    width: 100%;
    height: 2vh;
    gap: 1px;
    font-size: 100%;
    
    
   
   
}


.user{
    display: none;
    
}

/*pagina stream*/

#stream{
  background-color: #040314;
  width: 100%;
  height: 100vh;

}

#livemp4{
border: 5px solid red;
border-radius: 5px;
width: 350px;
height: 200px;


}


.live{
  width: 350px;
  height: 200px;
  background-color: #000000;
  border-radius: 10px;
top: 20%;
  position: absolute;
left: 5%;
  
}

.chat{
  background-color: #19114d;
  width: 200px;
  height: 350px;
  position: absolute;
  left: 20%;
  top: 50%;
  border: red solid 5px;
  border-radius: 5%;
  text-align: center;
  color: white;

}

.ulk{
  width: 20px;
  height: auto;
  position: absolute;
  top: 75%;
  left: 10%;

}

.ulkp{
  width: 100px;
  font-size:15px;
  height: 10%;
  position: absolute;
  top: 75%;
  left: 10%;

}


.ucp{
    width: 100px;
    font-size: 15px;
    position: absolute;
    top: 75%;
    left: 55%;

}

.uc{
    width: 20px;
    height: auto;
    position: absolute;
    top: 75%;
    left: 55%;

}

.instrem{
  position: absolute;
  background-color: white;
  height: 3%;
  width: 60%;
  top: 10%;
  left: 5%;
  color: black;
  background-image: url(search.png);
  background-position: 3px;
  padding-left: 20px;
  background-size: 20px;
  background-repeat: no-repeat;

}

.stre{
  color: white;
  font-size: 40px;
  left: 3%;
  position: absolute;
  border: #19114d 3px;
  border-radius: 3px;

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:"wdth"100;
}

.Inscreva{
border: red 5%;
border-radius: 5%;
position: absolute;
background-color: red;
color: black;
top: 85%;
left: 10%;
width: 80%;
height: 30px;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}

#page6{
width: 100%;
height: 100vh;
}

.p6{
width: 100%;
height: 100vh;
}

.ct{
width: 55%;
height: 10%;
}

.em{
width: 10%;
height: auto;
}

.pgz{
position: absolute;
left: 20%;
font-size: 20px;
top: 31%;
}

.dis{
width: 10%;
height: auto;
}

.h{
    font-size: 40px;
}

.dis1{
left: 20%;
font-size: 20px;
top: 44%;

}

.in1{
 width: 10%;
 height: auto;
}

.in{

left: 20%;
font-size: 20px;
top: 59%;

}

#bodyy{
    background-color: #0b0825;
}

.box{
width: 60%;
height: 60%;
position: absolute;
left: 16%;
top: 20%;
}

.img1{

    display: none;
     
    
}

.email{

font-size: 70%;
}


.email1{
height: 10%;
font-size: 70%;
}

.senha{
   font-size: 80%;
}


.senha1{
height: 10%;
font-size: 70%;
} 


.nome{
color: white;
position: absolute;
right: 15%;
height: 20vh;
top: 32%; 
width: 70%;
font-size: 80%;
}  


  
.nome1{
width: 100%;
height: 10%;
color: gray;
background-color: black;
font-size: 70%;                 
}

.conf{
  font-size: 80%;

  
}



.conf1{
  height: 10%;
  font-size: 70%;


}



 #tcad{
color: white;
font-size: 100%;
position: absolute;
left: 15%;
top: 15%;

font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}

.cad{
    width: 70%;
    height: 5vh;
    border-radius: 1%;
}

.butcad{
    width: 100%;
    height:5vh;
    font-size: 100%;
}

.pp{
position: absolute;
left: 25%;
top: 75%;
font-size: 80%;
}
#entrar{

    font-size: 80%;
    position: absolute;
    top: 90%;

}


h3{
position: absolute;
font-size: 70%;
left: 28%;
top: 72%;
}
.botaoentrar{
position: absolute;
left: 55%;
top: 72%;
font-size: 100%;

}

/*PAGINA 3*/
#page3 {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100vh;
  grid-template-areas: "cel1 cel2";
  overflow: hidden;
}

#fundo1 {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  justify-content: center;
  display: flex;
  background-color: #19114d;
  grid-area: cel1;
  color: black;
 
}

#fundo2 {
  background-color: #040314;
  grid-area: cel2;
  display: grid;
  grid-template-rows: 10vh 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 10px;
  overflow: hidden;
  height: 100vh;
}
#mg {
  margin-top: 10%;
  font-size: 30px;
}
  

.menuop {
  display: grid;
  grid-template-rows: 5vh 5vh 5vh 5vh;
  grid-area: cel1;
  justify-content: center;
  color: black;
  margin-top: 50%;
 

  

font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}


#a1 {
  color: black;
  background-color: rgba(5, 217, 245, 0.897);
  width: 70%;
  height: 20px;
  font-size:15px;
  justify-items: center;

font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}

#tgame1,
#tgame1val,
#tgame1tip,
#tgame1es {
  color: white;
  font-size: 30px;
  margin-top: 5%;


font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
  
}

#tgame2,
#tgame2val,
#tgame2tip,
#tgame2es {
  color: white;
  font-size: 20px;
  margin-top: 5%;


font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
  
}



#pesquisa {
  background-image: url(search.png);
  background-position: 3px;
  padding-left: 35px;
  background-size: 20px;
  background-repeat: no-repeat;
  border: black 5px;
  border-radius: 2px;
  width: 70%;
  height: 30px;
  margin-top: 3%;
  justify-items: start;
  grid-row: 1;
  grid-column: 1;
 
}

#item1,
#item2 {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 30% 60%;
  grid-template-rows: 1fr;
  gap: 0;
  overflow: hidden;
}
#item1 {
  grid-column: 1/-1;
  
  justify-items: center;
}

#item2 {
  grid-column: 1/-1;
  grid-row: 3;
}

#item1 > img,
#item2 > img {
  grid-column: 1 / 2;
  grid-row: 1;
  width: auto;
  height: 200px;
  object-fit: cover;

}


#dados {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 20%);
  grid-column: 2;
  
}
#tgame1 {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  font-size: 10px;
}
#tgame1e {
  grid-column: 1;
  grid-row: 2;

}
#tgame1tip {
  grid-column: 1;
  grid-row: 3;
  width: 100%;
  font-size: 10px;
}
#tgame1val {
  grid-column: 1;
  grid-row: 4;
  width: 100%;
  font-size: 10px;
}

#item1 {
  grid-column: 1/-1;
  grid-row: 2;
  justify-items: flex-start;
}

#item2 {
  grid-column: 1/-1;
  grid-row: 3;
}

#item1 > img,
#item2 > img {
  grid-column: 1 / 2;
  grid-row: 1;
  width: auto;
  height: 200px;
  object-fit: cover;

}


#dados2 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 20%);
  grid-column: 2;
  
}
#tgame2 {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}
#tgame2e {
  grid-column: 1;
  grid-row: 2;
  width: 200px;
height: 50px;

  justify-items: center;
}
#tgame2tip {
  grid-column: 1;
  grid-row: 3;
  width: 100%;
}
#tgame2val {
  grid-column: 1;
  grid-row: 4;
  width: 100%;
}

#estrela{

justify-self: start;
}

#plataformas{
position: absolute;
color: black;
font-size: 15px;
top: 50%;

text-decoration: underline;

font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}
.logoplataformas{
margin-left: 10px;
width: 30px;

}
.plataforma{
position: absolute;
display: flex;
flex-direction: column;
gap: 20px;
color: white;
left: 2%;
top: 60%;
}

.p1{
  font-size: 70%;
  height: 20%;
  width: 40%;
}

h2{
  font-size: 80%;
}

h1{
  font-size: 100%;
}

.h3{
  font-size: 70%;
}

.p2{
  font-size: 70%;
}

.h4{
  font-size: 80%;
  width: 60%;
  height: 40%;
  position: absolute;
  left: 60%;
}


.p3{
  font-size: 70%;
  position: absolute;
  top: 25%;
  left: 60%;
}

.p4{
  font-size: 50%;
  left: 30%;
  position: absolute;
}


}








    
