
/*PAGINA 1*/

*{
margin: 0%;
}

section{
width: 100%;        
height: 100vh;
position: relative;
} 

.f1{
width: 100%;
height: 100vh;
position: absolute;
}

p{
position: absolute;
left: 5%;
top: 60%;
color: white; 
font-family: "Tektur", sans-serif;
font-optical-sizing: auto;
font-weight:500px ;
font-style: normal;
font-variation-settings: "wdth" 100;
font-size: 25px;
  
}
#icone{
position: absolute;
top: -13%;
}

.botaologin{
position: absolute;
left: 70%;
top:83% ;
height: 10vh;
}

a{
color: white;
position: relative;
text-decoration: none;
margin: 0 40PX 0 0;
font-size: 15px;  
}

a:hover{
text-decoration: underline;
color: rgb(212, 5, 85);
}

.menu{
position: fixed;
z-index: 2;
background-color:rgb(22, 7, 56);
width: 100%;
height: 2vh;
text-align: end;
padding: 10px;     
}
/*PAGINA 2*/
.title{
position: absolute;
color: white;
font-size: 40px;
left: 1%;
top: 10%;
font-family: "Tektur", sans-serif;
font-optical-sizing: auto;
font-weight:600px ;
font-style: normal;
font-variation-settings: "wdth" 100;
}

.descriçao{
position: absolute;
color: white;
font-size: 20px;
left: 1%;
top: 20%;
font-family: "Tektur", sans-serif;
font-optical-sizing: auto;
font-weight:600px ;
font-style: normal;
font-variation-settings: "wdth" 100;        
}

.txtpage2{
position: relative;
left: 0%;
color: white; 
font-family: "Tektur", sans-serif;
 font-optical-sizing: auto;
font-weight:600px ;
font-style: normal;
font-variation-settings: "wdth" 100;
font-size: 25px;
width: 1000px; 
}
.login{
font-size: 40px;
font-family: "Tektur", sans-serif;
font-optical-sizing: auto;
font-weight:600px ;
font-style: normal;
font-variation-settings: "wdth" 100;  

border: 5px solid rgb(195, 40, 175);
border-radius: 20px;
background-color: rgb(9, 223, 155);
width: 200px;
height: 80px;
color:black
}



.login:hover{
background-color: rgb(195, 40, 175);
}


/*PAGINA 3*/
#page3 {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100vh;
  grid-template-areas: "cel1 cel2";
  overflow: hidden;
}

#fundo1 {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  justify-content: center;
  display: flex;
  background-color: #19114d;
  grid-area: cel1;
  color: black;
}

#fundo2 {
  background-color: #040314;
  grid-area: cel2;
  display: grid;
  grid-template-rows: 10vh 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 10px;
  overflow: hidden;
  height: 100vh;
}
#mg {
  margin-top: 20%;
}

.menuop {
  display: grid;
  grid-template-rows: 5vh 5vh 5vh 5vh;
  grid-area: cel1;
  justify-content: center;
  color: black;
  font-size: 50px;
  margin-top: 40%;
  left: 5%;
  

  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#a1 {
  color: black;
  background-color: rgba(5, 217, 245, 0.897);
  width: 78%;
  height: 30px;
  font-size:25px;

  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#tgame1,
#tgame1val,
#tgame1tip,
#tgame1es {
  color: white;
  font-size: 30px;
  margin-top: 5%;


  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  
}

#tgame2,
#tgame2val,
#tgame2tip,
#tgame2es {
  color: white;
  font-size: 30px;
  margin-top: 5%;


  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  
}



#pesquisa {
  background-image: url(search.png);
  background-position: 3px;
  padding-left: 35px;
  background-size: 20px;
  background-repeat: no-repeat;
  border: black 5px;
  border-radius: 2px;
  width: 30%;
  height: 5vh;
  margin-top: 3%;
  justify-items: start;
  grid-row: 1;
  grid-column: 1;
 
}

#item1,
#item2 {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 30% 60%;
  grid-template-rows: 1fr;
  gap: 0;
  overflow: hidden;
}
#item1 {
  grid-column: 1/-1;
  grid-row: 2;
  justify-items: flex-start;
}

#item2 {
  grid-column: 1/-1;
  grid-row: 3;
}

#item1 > img,
#item2 > img {
  grid-column: 1 / 2;
  grid-row: 1;
  width: auto;
  height: 300px;
  object-fit: cover;

}


#dados {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 20%);
  grid-column: 2;
  
}
#tgame1 {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}
#tgame1es {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
}
#tgame1tip {
  grid-column: 1;
  grid-row: 3;
  width: 100%;
}
#tgame1val {
  grid-column: 1;
  grid-row: 4;
  width: 100%;
}

#item1 {
  grid-column: 1/-1;
  grid-row: 2;
  justify-items: flex-start;
}

#item2 {
  grid-column: 1/-1;
  grid-row: 3;
}

#item1 > img,
#item2 > img {
  grid-column: 1 / 2;
  grid-row: 1;
  width: auto;
  height: 300px;
  object-fit: cover;

}


#dados2 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 20%);
  grid-column: 2;
  
}
#tgame2 {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}
#tgame2es {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  justify-items: center;
}
#tgame2tip {
  grid-column: 1;
  grid-row: 3;
  width: 100%;
}
#tgame2val {
  grid-column: 1;
  grid-row: 4;
  width: 100%;
}

#estrela{
margin-top: 5%;
}



/*PAGINA 4*/

.corfundo{
width: 100%;
height: 100vh;
background-color: #040314;
}

#noticias{
color: white;
font-size: 50px;
position: absolute;
top: 5%;
left: 5%;

font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}




.imagem1{
position: absolute;
top: 15%;
left: 5%;
background-color: #0b0825;
width: 700px;
height: 90vh;
border-radius:10px ;


}

#descriçaoimagem1{
color: white;
position: absolute;
font-size: 28px; 
left: 1%;
top: 55%;



font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}


#desc2{
color: rgb(164, 164, 164);
position: absolute;
font-size: 20px;
top: 70%;
left: 1%;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;

}

#desc3{
color: rgb(164, 164, 164);
position: absolute;
font-size: 20px;
top: 85%;
left: 1%;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;

}

.imagem2{
position: absolute;
border-radius: 10px;

top: 15%;
left: 65%;
background-color: #0b0825;
width: 400px;
height: 70vh;

}
#descriçaoimagem2{
color: white;
position: absolute;
font-size: 30px; 
left: 1%;
top: 55%;



font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}

#des2{
color: rgb(164, 164, 164);
position: absolute;
font-size: 20px;
top: 75%;
left: 1%;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}

#des3{
color: rgb(164, 164, 164);
position: absolute;
font-size: 20px;
top: 90%;
left: 1%;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}
.imagem3{
position: absolute;
border-radius: 10px;

top: 10%;
left: 0%;
background-color: #0b0825;
width: 400px;
height: 90vh;
}

#descriçaoimagem3{
color: white;
position: absolute;
font-size: 30px; 
left: 1%;
top: 40%;



font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}

#d1imagem3{
color: rgb(164, 164, 164);
position: absolute;
font-size: 20px;
top: 65%;
left: 1%;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}
.imagem4{
position: absolute;
border-radius: 10px;

top: 10%;
left: 34%;
background-color: #0b0825;
width: 400px;
height: 90vh;
}



#descriçaoimagem4{
color: white;
position: absolute;
font-size: 30px; 
left: 1%;
top: 40%;



font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;

}

#d1imagem4{
color: rgb(164, 164, 164);
position: absolute;
font-size: 20px;
top: 60%;
left: 1%;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;

}

.imagem5{

position: absolute;
border-radius: 10px;

top: 10%;
left: 68%;
background-color: #0b0825;
width: 400px;
height: 90vh;

}

#descriçaoimagem5{
color: white;
position: absolute;
font-size: 30px; 
left: 1%;

top: 40%;



font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;

}

#trailer{
color: rgb(227, 11, 11);
position: absolute;
width: 100px;
height: 100px;
top: 60%;
left: 15%;
font-size: 20px;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;

}

#iconeyt{
position: absolute;
width: 50px;
height: 50px;
top: 60%;
left: 1%;
}
/*PAGINA 5*/
#inputcomunidade{
background-image: url(search.png);
background-position: 3px;
padding-left: 35px;
background-size: 20px;
background-repeat: no-repeat;
background-color: white;
border: black 5px;
border-radius: 2px;
width: 30%;
height: 5vh;
position: absolute;
top: 15%;
left: 5%;
color: white;

}

#tcomunidade{
color: white;
font-size: 50px;
position: absolute;
top: 5%;
left: 5%;

font-size: 45px;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}


#mn{
position: relative;
bottom: 75%;
left: 5%;

font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:"wdth"100;
}

#mn:hover{
background-color: rgb(51, 51, 197);
color: white;
border-radius: 5px;
text-decoration: none;
}



#stream{
  background-color: #040314;
  width: 100%;
  height: 100vh;

}

.live{
  width: 70%;
  height: 80vh;
  background-color: #19114d;
  border: #19114d 3px;
  border-radius: 5%;
  left: 3%;
  position: absolute;
  top: 10%;
}

.chat{
  background-color: #19114d;
  width: 20%;
  height: 70vh;
  position: absolute;
  left: 75%;
  top: 10%;
  border: #19114d 3px;
  border-radius: 5%;
  text-align: center;
  color: white;

}

.ulk{
  width: 40px;
  height: auto;
  position: absolute;
  top: 80%;
  left: 10%;

}

.ulkp{
  width: 10%px;
  font-size:20px;
  height: auto;
  position: absolute;
  top: 82%;
  left: 30%;

}


.ucp{
    width: 10%px;
    font-size: 20px;
    position: absolute;
    top: 82%;
    left: 74%;

}

.uc{
    width: 40px;
    height: auto;
    position: absolute;
    top: 80%;
    left: 60%;

}

.instrem{
  position: absolute;
  background-color: white;
  height: 5vh;
  width: auto;
  top: 0%;
  left: 40%;
  color: black;
  background-image: url(search.png);
  background-position: 3px;
  padding-left: 35px;
  background-size: 20px;
  background-repeat: no-repeat;

}

.stre{
  color: white;
  font-size: 50px;
  left: 3%;
  position: absolute;
  border: #19114d 3px;
  border-radius: 3px;

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:"wdth"100;
}

.Inscreva{
  border: red 5%;
  border-radius: 5%;
  position: absolute;
  background-color: red;
  color: black;
  top: 90%;
  left: 10%;
  width: 80%;
  height: 5vh;

}

/*PAGINA 6*/

.p6{
  width: 100%;
  height: 100vh;
  position: absolute;
}

.ct{
  background-color: #19114d;
  position: absolute;
  top: 5%;
  width: 20%;
  height: 10vh;
  left: 5px;

}
.h{
  color: white;
  position: absolute;
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:"wdth"100;
}


.em{
  position: absolute;
  width: 5%;
  height: 10vh;
  top: 30%;
  left: 5%;
  

}

.pgz{
  position: absolute;
  top: 33%;
  left: 13%;
  font-size: 30px;
}

.dis{
  position: absolute;
  width: 5%;
  height: 10vh;
  top: 43%;
  left: 5%;
  

}

.dis1{
  position: absolute;
  top: 45%;
  left: 13%;
  font-size: 30px;
}

.in1{
  position: absolute;
  width: 5%;
  height: 10vh;
  top: 58%;
  left: 5%;
  

}

.in{
  position: absolute;
  top: 60%;
  left: 13%;
  font-size: 30px;
}





.post{
    width: 40%;
    height: 15vh;
    background-color:#19114d;
    top:30%;
    position: absolute;
    left: 3%;
    border-radius: 20px;
    border-left: 20px;
    border-right: 20px;
    border-width: 20px;
    border-top: 20px;
    display: flex;
    margin: 10px 0;
    gap: 15px;
    
   
}

.post1{
    width: 40%;
    height: 15vh;
    background-color: #19114d;
    top:50%;
    position: absolute;
    left: 3%;
    border-radius: 20px;
    border-left: 20px;
    border-right: 20px;
    border-width: 20px;
    border-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    gap: 15px;

   
   
}

.post2{
    width: 40%;
    height: 15vh;
    background-color: #19114d;
    top:70%;
    position: absolute;
    left: 3%;
    border-radius: 20px;
    border-left: 20px;
    border-right: 20px;
    border-width: 20px;
    border-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    gap: 15px;

}

.topico{
    width: 20%;
    height: 25vh;
    background-color: #0b0825;
    top:10%;
    left: 75%;
    border-radius: 20px;
    border-left: 20px;
    border-right: 20px;
    border-width: 20px;
    border-top: 20px;
    margin: 10px 0;
    gap: 15px;
    position: absolute;
    text-align: center;

}

.tpa{
  
  font-size: 20px;
  color: white;
}

.bt{
    background-color: #19114d;
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 100%;
    height: 3vh;
    border-radius: 20px;
    border-left: 20px;
    border-right: 20px;
    color: white;

}

.bt1{
    background-color: #19114d;
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 100%;
    position: absolute;
    height: 3vh;
    border-radius: 20px;
    border-left: 20px;
    border-right: 20px;
    

}

.bt2{
    
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 100%;
    height: 3vh;
     border-radius: 20px;
    border-left: 20px;
    border-right: 20px;
    border-width: 20px;
   
}
.user{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color:  #0b0825;
    width: 25%;
    height: 40vh;
    top: 50%;
    text-align: right;
    left: 70%;
    border-radius: 5%;
    align-items:flex-start ;
}

.avt{
    width: 40px;
    border-radius: 50%;
    
    display: flex;
    flex-direction: column;
    gap: 1px;
    position: relative;
   

}

.us{
    display: flex;
    flex-direction: column;
    gap: 1px;
    position: relative;

   
    

}

.inch{
    background-color: #19114d ;
    background-size: 2px;
    position: absolute;
    top: 90%;
    left: 30%;
    border: transparent;
    border-radius: 5px;
    height: auto;
    width: 40%;
}

.gx{
  color: white;
  font-size: 20px;
  position: absolute;
  left: 70px;
  top: 3px;

}

.gx1{
  color: white;
  font-size: 20px;
  position: absolute;
  left: 70px;
  top: 20%;
}

.gx2{

  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 45%;
  font-family: unset;
}

.per{
  position: absolute;
  width: 40px;
  height: auto;
  left: 20px;
  top: 5px;

}

.ctbox{
   position: absolute;
  width: 5%;
  height: auto;
  left: 72%;
  top: 70%;

}


.ctlike{
   position: absolute;
  width: 4%;
  height: auto;
  left: 80%;
  top: 75%;

}
.hchat{
  color: white;
}












