*{
margin: 0%;
}

section{
width: 100%;        
height: 100vh;
position: relative;
} 

.f1{
width: 100%;
height: 100vh;
}
img{
position: absolute;    

}
p{
position: absolute;
left: 5%;
top: 60%;
color: white; 
font-family: "Tektur", sans-serif;
font-optical-sizing: auto;
font-weight:500px ;
font-style: normal;
font-variation-settings: "wdth" 100;
font-size: 25px;
    
}
.icone{
position: absolute;
top: -13%;
}

.botaologin{
position: absolute;
left: 70%;
top:83% ;
height: 10vh;
}

a{
color: white;
position: relative;
text-decoration: none;
margin: 0 40PX 0 0;
font-size: 15px;  
}

a:hover{
text-decoration: underline;
color: rgb(212, 5, 85);
}

.menu{
position: fixed;
z-index: 2;
background-color:rgb(22, 7, 56);
width: 100%;
height: 2vh;
text-align: end;
padding: 10px;     
}

.title{
position: absolute;
color: white;
font-size: 40px;
left: 1%;
top: -30%;
font-family: "Tektur", sans-serif;
font-optical-sizing: auto;
font-weight:600px ;
font-style: normal;
font-variation-settings: "wdth" 100;
}

.descriçao{
position: absolute;
color: white;
font-size: 20px;
left: 1%;
top: 20%;
font-family: "Tektur", sans-serif;
font-optical-sizing: auto;
font-weight:600px ;
font-style: normal;
font-variation-settings: "wdth" 100;        
}

.txtpage2{
position: relative;
left: 0%;
color: white; 
font-family: "Tektur", sans-serif;
 font-optical-sizing: auto;
font-weight:600px ;
font-style: normal;
font-variation-settings: "wdth" 100;
font-size: 25px;
width: 1000px; 
}
.login{
font-size: 40px;
font-family: "Tektur", sans-serif;
font-optical-sizing: auto;
font-weight:600px ;
font-style: normal;
font-variation-settings: "wdth" 100;  
}

button{
border: 5px solid rgb(195, 40, 175);
border-radius: 20px;
background-color: rgb(9, 223, 155);
width: 200px;
height: 80px;
color:black
}

button:hover{
background-color: rgb(195, 40, 175);
}

#page3{
display: grid;
grid-template-columns: 20% 80%;
grid-template-rows: 50%  50%;
grid-template-areas: 
"cel1 cel2"
"cel1 cel2";

}

h1{
margin-top: 20%;
}

#fundo1{
font-family: "Tektur", sans-serif;
font-optical-sizing: auto;
font-weight:600px ;
font-style: normal;
font-variation-settings: "wdth" 100;
 
justify-content: center;
display: flex;

background-color: #19114d;
grid-area: cel1;
color: white;
}

#fundo2{
background-color: #040314;  
grid-area: cel2;
      
}




.menuop{
display: grid;
grid-area: cel1;
justify-content: center;
color: white;
font-size:50px ;
margin-top: 40%;

font-family: "Tektur", sans-serif;
font-optical-sizing: auto;
font-weight:600px ;
font-style: normal;
font-variation-settings: "wdth" 100;
}

.game1{
display: grid;
grid-area: cel2;
margin-top: 10%;
}

#tgame1{
display: flex;
grid-row: 1;
margin-left: 22%;
margin-top: 1%;
color: white;
font-size: 40px;

font-family: "Tektur", sans-serif;
font-optical-sizing: auto;
font-weight:600px ;
font-style: normal;
font-variation-settings: "wdth" 100;
}

.game2{
display: grid;
grid-area: cel2;
margin-top: 260px;

}

#tgame2{
display: flex;
grid-row: 2;
color: white;
margin-left: 22%;
margin-top: 2%;
font-size: 40px;

font-family: "Tektur", sans-serif;
font-optical-sizing: auto;
font-weight:600px ;
font-style: normal;
font-variation-settings: "wdth" 100;


}

input{
background-image: url(search.png);
background-position: 3px;
padding-left: 35px;
background-size: 20px;
background-repeat: no-repeat;
border: black 5px;
border-radius: 2px;
width: 30%;
height: 3vh;
display: grid;
grid-column: 2;
justify-items: start;
margin-top: 3%;
margin-left: 2%;




}



    

   
    

    